/* You can add global styles to this file, and also import other style files */
 
#spinner.lds-ring {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;

  margin-top: 45vh;
  margin-left: auto;
  margin-right: auto;
}
#spinner.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #69c;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #69c transparent transparent transparent;
}
#spinner.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
#spinner.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
#spinner.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}