<!-- Grey with black text -->
<nav class="navbar bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link left-sidebar-btn">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link right-sidebar-btn">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>
  </ul>
</nav>

<div class="container main-container-with-fixed-nav">
	<div class="row">
		<div class="col text-right">
			<a routerLink="/profile" class="btn btn-primary">Profile</a>
			<div style="height: 900px;"></div>
		</div>
	</div>
</div>