
<div class="main-container-without-fixed">
	<div class="row">
		<div class="col">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<!-- Grey with black text -->
<nav class="bg-light navbar-light fixed-bottom" id="home-bottom-navbar">
  <ul class="nav nav-pills nav-fill">
    <!-- <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-newspaper-o"></i>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <i class="fa fa-comments-o"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/inbox">
        <i class="fa fa-envelope-o"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/profile">
        <i class="fa fa-user-o"></i>
      </a>
    </li>
  </ul>
</nav>

