<div class="container">
	<div class="row" id="login-form-row">
		<div class="col col-12 form-group">
			<h4>Login</h4>
		</div>
		<div class="col col-12 form-group">
			<input type="text" class="form-control" name="username" placeholder="Username">
		</div>
		<div class="col col-12 form-group">
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>
		<div class="col col-12 form-group">
			<a href="javascript:void(0);" class="btn btn-primary" routerLink="/home">LOGIN</a>
		</div>
	</div>
</div>